body {
    background-color: rgb(119, 226, 98);
}

title {
    font-weight: bold;
    font-size: 20px;
    font-family: sans-serif;
}

header {
    border: 1px solid black;
    background-color: rgb(240, 154, 50);
}

.section {
    border: 3px solid black;
    background-color: rgb(120, 36, 230);
    padding: 1px;
    margin: 5px;
    float: center;
    clear: both;
}