{% extends 'base.html' %}

{% block content %}

    <div class="container">
      <section class = "section">
      <div class="row d-flex justify-content-center">
          <div class="col-md-4 border bg-light p-4 mt-5 rounded text-dark">
              <form class="" method="POST" action="/login"> 
                    <div class="mb-3">
                      <label for="email" class="form-label">Email</label>
                      <input type="email" name="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Ingrese su email" required>
                    </div>
                    <div class="mb-3">
                      <label for="password" class="form-label">Contraseña</label>
                      <input type="password" name="password"class="form-control" id="password" aria-describedby="emailHelp" placeholder="Ingrese su contraseña" required>
                    </div>
                    <div class="invalid-feedback">
                      Correo o contraseña incorrectos. Verifique
                    </div>
                  <div class="d-grid">
                      <button class="btn btn-primary" type="submit">Enviar</button>
                  </div>
                </form> 
          </div>
        </section>
      </div>

  {% endblock %}