{% extends 'base.html' %}

{% block content %}

        <div class="container">
			<blockquote class="blockquote cardbloq3">
			<div class="row align-items-end">
				<div class="col">
					<table class="table table-hover text-dark">
						<tr class="table-secondary">
							<th>Titulo</th><th>Autor</th><th>Cuerpo</th><th>Posicion</th>
						</tr>
						<tbody>
							{% for poem in poems %}
							<tr>
								<td>{{poem.title}}</td><td>{{poem.author.name}}</td><td>{{poem.body}}</td><td>{{poem.score_mean}}</td><td><a type="button" href="{{url_for('poems.view_poem', id=poem.id)}}">Mas...</a></td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	<footer class="footer">
	<nav aria-label="..." >
		<div class="position-absolute bottom-0 start-50 translate-middle-x">
			<ul class="pagination justify-content-center">
				<li class="page-item">
					{% if pagination.current_page != 1 %}
				<a class="page-link" href="{{url_for('app.index', page=(pagination.current_page-1))}}">Atras</a>
				</li>
				{% else %}
				<li class="page-item disabled">
					<a class="page-link" href="#" tabindex="-1" aria-disabled="true">Atras</a>
				</li>
				{% endif %}
				{% for n in range(1,pagination.pages+1) %}
					{% if n != pagination.current_page %}
					<li class="page-item">
						<a class="page-link" href="{{ url_for('app.index', page = n) }}">{{n}}</a>
					</li>
					{% else %}
						<li class="page-item disabled">
							<a class="page-link" href="#" tabindex="-1" aria-disabled="true">{{n}}</a>
						</li>
					{% endif %}
				{% endfor %}
				{% if pagination.current_page != pagination.pages %}
					<li class="page-item">
					  <a class="page-link"
					   href="{{ url_for('app.index',page = (pagination.current_page+1)) }}" >Siguiente</a>
					</li>
				{% else %}
					<li class="page-item disabled">
					  <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Siguiente</a>
					</li>
				{% endif %}
			</ul>
		</div>
	</nav>
	</footer>
{% endblock %}