{% extends 'base.html' %}

{% block content %}
<div class="container">  
    <form method="POST" action="/poem/modify/{{poem.id}}">
        <div class="form-group">
            <label for="texto">Titulo</label>
            <textarea name="title" class="form-control">{{poem.title}}</textarea>
        </div>
        <div class="form-group">
            <label for="area">Cuerpo</label>
            <textarea name="body" rows="10" cols="40"  class="form-control">{{poem.body}}</textarea>
        </div>
        <div class="container justify-content-center mt-3">
            <div class="row">
                <input type="submit"  class="btn btn-primary" value="Modify">
            </div>
        </div>
    </form>
</div>

{% endblock %}