.u-section-1 .u-sheet-1 {
  min-height: 734px;
}

.u-section-1 .u-list-1 {
  margin-bottom: 0;
  margin-top: 38px;
}

.u-section-1 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-template-columns: 100%;
  min-height: 375px;
}

.u-section-1 .u-container-layout-1 {
  padding: 10px;
}

.u-section-1 .u-text-1 {
  margin: 25px 14px 0 auto;
}

.u-section-1 .u-container-layout-2 {
  padding: 10px;
}

.u-section-1 .u-text-2 {
  margin: 25px 14px 0 auto;
}

.u-section-1 .u-container-layout-3 {
  padding: 10px;
}

.u-section-1 .u-text-3 {
  margin: 25px 14px 0 auto;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 49px auto 0;
  padding: 24px 44px 24px 42px;
}

.u-section-1 .u-shape-1 {
  width: 77px;
  height: 77px;
  margin: 60px auto 49px;
}