{% extends 'base.html' %}

{% block menu %}
{% endblock %}

{% block content %}

        <nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
			<div class="container">
			  <a class="navbar-brand text-dark" href="{{url_for('users.user_main')}}">World of Poems</a>
			  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			  </button>
	
			  <div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>
				<div class="row">
					<div class="col-md-15">
						<a class="btn btn-primary" href="{{url_for('users.user_profile')}}">Perfil</a>
						<a class="btn btn-danger" href="{{url_for('app.logout')}}">Salir</a>
					</div>
				</div>
			  </div>
			</div>
		</nav>

        <div class="container">
			<div class="row">
				<div class="col">
					<table class="table table-hover text-dark align-middle">
						<tr class="table-secondary">
							<th>Titulo</th><th>Autor</th><th>Fecha</th><th>Posicion</th>
						</tr>
						<tbody>
							{% for poem in poems %}
							<tr>
								<td>{{poem.title}}</td><td>{{poem.author.name}}</td><td>{{poem.body}}</td><td>{{poem.score_mean}}</td><td><a type="button" href="{url_for('poems.view_poem', id=poem.id)}}">Mas...</a></td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
        </div>

        <div class="container_footer" >
        	<div class="position-absolute start-50 translate-middle-x">
            	<div class="row">
                	<div class="col-sm-4 col-lg-12">
                    	<nav aria-label="Page navigation example">
                        	<ul class="pagination justify-content-center">
                        	<li class="page-item">
                            	<a class="page-link" href="#" aria-label="Anteriores">
                            	<span aria-hidden="true">&laquo;</span>
                            	</a>
                        	</li>
                        	<li class="page-item"><a class="page-link" href="#">1</a></li>
                        	<li class="page-item"><a class="page-link" href="#">2</a></li>
                        	<li class="page-item"><a class="page-link" href="#">3</a></li>
                        	<li class="page-item">
                            	<a class="page-link" href="#" aria-label="Siguientes">
                            	<span aria-hidden="true">&raquo;</span>
                            	</a>
                        	</li>
                        	</ul>
                    	</nav>
                	</div>
            	</div>
        	</div>
    	</div>


{% endblock %}